--- 
import { ViewTransitions } from 'astro:transitions';
import { fade} from 'astro:transitions';
interface Props {
	title: string;
	description:string;
	url: string
}

const { title, description, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>
			{title}
		  </title>
		  <meta name="title" content={title} />
		  <meta name="description" content={description} />
		  
		  <meta property="og:type" content="article" />
		  <meta property="og:url" content={url} />
		  <meta property="og:title" content={title} />
		  <meta property="og:description" content={description} />
		  <meta property="twitter:card" content="summary_large_image" />
		  <meta property="twitter:url" content={url} />
		  <meta property="twitter:title" content={title} />
		  <meta property="twitter:description" content={description} />
			  <meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script type="text/partytown" async src="https://analytics.umami.is/script.js" data-website-id="d76e4153-562f-4dcc-b239-d346dfe85bb8"></script>
		<ViewTransitions  />
	</head>
	<body class="px-4 prose mx-w-none mx-auto">
		<main class="max-w-3xl mx-auto">
			<slot />
		</main>
	</body>
</html>


