--- 
import { ViewTransitions } from 'astro:transitions';
import { fade} from 'astro:transitions';
interface Props {
	title: string;
	description:string;
	url: string
}

const { title, description, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>
			{title}
		  </title>
		  <meta name="title" content={title} />
		  <meta name="description" content={description} />
		  
		  <meta property="og:type" content="article" />
		  <meta property="og:url" content={url} />
		  <meta property="og:title" content={title} />
		  <meta property="og:description" content={description} />
		  <meta property="twitter:card" content="summary_large_image" />
		  <meta property="twitter:url" content={url} />
		  <meta property="twitter:title" content={title} />
		  <meta property="twitter:description" content={description} />
			  <meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<script type="text/partytown" async src="https://analytics.umami.is/script.js" data-website-id="d76e4153-562f-4dcc-b239-d346dfe85bb8"></script>
		<ViewTransitions  />
	</head>
	<body class="px-4 prose mx-w-none mx-auto">
		<main class="max-w-3xl mx-auto">
			<slot />
		</main>
	</body>
</html>


<style is:global>
	:root { font-family: 'Inter', sans-serif; }
	@supports (font-variation-settings: normal) {
	:root { font-family: 'Inter var', sans-serif; }
	}
	body {
		font-family: 'Inter', sans-serif;
	}

	.scrolling-text-container {
		position: relative;
		height: 30px;
		overflow: hidden;
	}

	.scrolling-text {
		display: flex;
		flex-direction: column;
		animation: scroll-up 7s linear infinite;
		will-change: transform;
	}

	.scrolling-text div {
		height: 30px;
	}

	@keyframes scroll-up {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(-50%);
		}
	}

	.fade-effect {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to top, white 0%, transparent 20%, transparent 80%, white 100%);
	}

</style>


